:root {
  --main-color: #27384C;
  --white: #FFFFFF;

  --default-text-size: 16px;
  --body: 16px;
  --h6: 16px;
  --h5: 17px;
  --h4: 18px;
  --h3: 19px;
  --h2: 20px;
  --h1: 22px;

  --standard-font: 'Montserrat', sans-serif;
  --now-font: 'Now', sans-serif;
}



body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.header {
  background-color: var(--main-color);
  color: var(--white);
  text-align: center;
  padding: 1%;
  letter-spacing: 5px;
}

.header--h1 {
  font-size: var(--h1);
  font-weight: 400;
  font-family: var(--now-font);
}
