:root {
  --main-color: #27384C;
  --white: #FFFFFF;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: var(--main-color);
  color: var(--white);
  text-align: center;
  padding: 2%;
  letter-spacing: 5px;
}
